.header {
	position: fixed;
	background-color: light-dark($white, $dark);
	width: 100%;
	margin: 0 auto;
	height: rem(60px);
	padding-left: $spacingMd;
	padding-right: $spacingMd;
	border-bottom: rem(1px) solid light-dark($gray3, $dark4);
}
