.dragIcon {
	color: $indigo9;
	margin: $spacingSm;
	flex-shrink: 0;
}

.item {
	border-radius: $radiusMd;
	border: 1px solid $indigo0;
	background-color: $indigo0;
	overflow: hidden;
	box-shadow: $shadowXs;
	height: max-content;
}

.toolbar {
	background-color: $white;
	min-width: 0;
	width: 100%;
	justify-content: space-between;
	align-content: center;
	display: flex;
	z-index: 1000;
}

.badge {
	color: $indigo9;
	flex-shrink: 0;
}

.toolbarContent {
	min-width: 0;
	align-items: center;
	gap: $spacingSm;
	display: flex;
	white-space: nowrap;
	overflow: hidden;
}

.toolbarDescription {
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	color: $gray7;
}

.toolbarButtons {
	width: 100px;
	display: flex;
	justify-content: end;
	white-space: nowrap;
	button {
		transition: ease-in-out 0.5;
		border-radius: 0;
		&:disabled {
			color: $indigo5;
		}
	}
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	z-index: 100;
	transition: ease-in-out 0.3s;
	max-height: 0;
}

.form {
	display: flex;
	flex-direction: column;
	padding: $spacingMd;
	gap: $spacingMd;
}

.content.open {
	max-height: var(--max-content-height);
}
