.item {
	border-radius: $radiusMd;
	overflow: hidden;
	box-shadow: $shadowXs;
	height: max-content;
}

.item.add {
	width: 50%;
}

.item.filled {
	border: 1px solid $gray4;
	.toolbar {
		background: linear-gradient(180deg, $indigo6 0%, $indigo6 40%, $indigo6);
	}
	.badge {
		color: $white;
		background-color: $indigo9;
	}
	.toolbarDescription {
		color: $indigo0;
	}
	.dragIcon {
		color: $indigo0;
	}
}

.item.subtle {
	border: 1px solid $indigo2;
	background-color: $indigo0;
	.toolbar {
		background: $white;
	}
	.badge {
		color: $indigo9;
		background-color: $indigo1;
	}
	.toolbarDescription {
		color: $gray7;
	}
	.dragIcon {
		color: $indigo8;
	}
}

.dragIcon {
	margin: $spacingSm;
	flex-shrink: 0;
}

.toolbar {
	min-width: 0;
	width: 100%;
	justify-content: space-between;
	align-content: center;
	display: flex;
	z-index: 1000;
}

.badge {
	flex-shrink: 0;
	margin-right: $spacingSm;
}

.toolbarContent {
	min-width: 0;
	align-items: center;
	display: flex;
	white-space: nowrap;
	overflow: hidden;
}

.toolbarDescription {
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.toolbarButtons {
	width: 100px;
	display: flex;
	justify-content: end;
	white-space: nowrap;
	button {
		border-radius: 0;
	}
}

.content {
	display: grid;
	grid-template-rows: 0fr;
	overflow: hidden;
	transition: grid-template-rows 0.3s;
}

.form {
	min-height: 0;
}

.formContent {
	display: flex;
	flex-direction: column;
	gap: $spacingMd;
	padding: $spacingMd;
}

.content.open {
	grid-template-rows: 1fr;
}
