.toolbar {
	width: 100%;
	gap: $spacingMd;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.toolbar-items {
	border-radius: $radiusMd;
	background-color: $violet7;
	padding: $spacingXs;
	display: flex;
	gap: $spacingXs;
}

.search-input {
	width: 100%;
	input {
		border: 0px hidden;
	}
}

.toolbar-item {
	cursor: pointer;
}

.toolbar-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: $radiusMd;
	padding: $spacingSm;
	color: $white;
	&:hover {
		background-color: $darken;
	}
	&[data-active] {
		&,
		&:hover {
			box-shadow: $shadowSm;
			background-color: $white;
			color: $violet6;
		}
	}
}

.toolbar-search {
	display: flex;
	align-items: center;
	padding: 3px;
	width: 100%;
	border: 1px solid $violet8;
	border-radius: $radiusMd;
	&:hover {
		cursor: default;
	}
	.toolbar-icon {
		color: $violet7;
		&:hover {
			background-color: $white;
		}
	}
}
