.toolbar {
	width: 100%;
	gap: $spacingMd;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.items {
	border-radius: $radiusMd;
	display: flex;
	background-color: $violet6;
	padding: $spacingXs;
	box-shadow: $shadowSm;
}

.search-input {
	width: 100%;
	input {
		border: 0px hidden;
	}
}

.item {
	cursor: pointer;
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: $radiusMd;
	padding: $spacingSm;
	color: $violet8;
}

.itemIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: $spacingMd;
	border-radius: $radiusMd;
	color: $violet1;
	&:hover {
		background-color: $darken;
	}

	&[data-active] {
		background-color: $white;
		color: $violet9;
	}
}

.search {
	display: flex;
	align-items: center;
	padding: 3px;
	width: 100%;
	border: 1px solid $violet8;
	border-radius: $radiusMd;
	&:hover {
		cursor: default;
	}
}
