.toolbar {
	width: 100%;
	gap: $spacingMd;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.items {
	border-radius: $radiusMd;
	display: flex;
	background-color: $violet6;
	box-shadow: $shadowXs;
}

.search-input {
	width: 100%;
	input {
		border: 0px hidden;
	}
}

.item {
	cursor: pointer;
	&:first-child {
		.itemIcon {
			border-top-left-radius: $radiusMd;
			border-bottom-left-radius: $radiusMd;
		}
	}
	&:last-child {
		.itemIcon {
			border-top-right-radius: $radiusMd;
			border-bottom-right-radius: $radiusMd;
		}
	}
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	color: $violet8;
	border-radius: $radiusMd;
	padding: $spacingSm;
}

.itemIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: $spacingLg;
	color: $violet1;

	&:hover {
		background-color: $darken;
	}

	&[data-active] {
		border: 1px solid $violet3;
		background-color: $white;
		color: $violet9;
	}
}

.search {
	box-shadow: $shadowXs;
	background-color: $white;
	display: flex;
	align-items: center;
	padding: 3px;
	width: 100%;
	border: 1px solid $violet3;
	border-radius: $radiusMd;
	&:hover {
		cursor: default;
	}
}
