.box {
	padding: $spacingMd;
	box-shadow: $shadowMd;
	width: 100%;
	background: $white;
	border: 1px solid $gray4;
	border-radius: $radiusLg;

	p {
		color: $gray8;
		font-size: rem(16px);
		font-weight: 500;
	}
}

.box.question {
	textarea {
		border-radius: $radiusMd;
		border-color: $violet2;
	}
}

.box.option {
	border: 0px solid;
	background: $indigo6;
	padding: $spacingSm;
	p {
		color: $white;
	}
	display: flex;
	gap: $spacingMd;
	box-shadow: none;
	align-items: center;
	border-radius: $radiusLg;
}

.title {
	font-size: rem(20px);
	font-weight: 500;
	color: $gray9;
	margin-bottom: $spacingMd;
}

.checkbox {
	input {
		border-radius: $radiusMd;
	}
	input:checked {
		background-color: $white;
	}
	input:checked + svg {
		width: rem(10);
		height: rem(10);
		color: $indigo6;
	}

	label {
		color: $white !important;
	}
}
