:root {
	--response-option-bg: #{linear-gradient(180, $indigo6, $indigo7)};
	--response-checked-icon: #{$indigo6};
	--response-input-bg: #{$indigo0};
	--response-input-border: #{$indigo6};
}

.box {
	padding: $spacingMd;
	box-shadow: $shadowMd;
	width: 100%;
	background: $white;
	border: 1px solid $gray5;
	border-radius: $radiusLg;

	p {
		color: $dark8;
		font-size: rem(16px);
		font-weight: 500;
	}
	input,
	textarea {
		background-color: $gray1;
		&:focus {
			border-color: var(--response-input-border);
		}
	}
}

.box.question {
	textarea {
		border-radius: $radiusMd;
	}
}

.box.option {
	border: 1px solid $gray0;
	background: var(--response-option-bg);
	padding: $spacingSm;
	p {
		color: $white;
	}
	display: flex;
	gap: $spacingMd;
	box-shadow: none;
	align-items: center;
	border-radius: $radiusLg;
}

.box.submit {
	display: flex;
	flex-direction: column;
	gap: rem(10px);
}

.title {
	font-size: rem(20px);
	font-weight: 500;
	color: $gray9;
	margin-bottom: $spacingMd;
}

.checkbox {
	display: flex;
	div {
		align-self: center;
	}
	input {
		border-radius: $radiusMd;
	}
	input:checked {
		background-color: $white;
	}
	input:checked + svg {
		width: rem(10);
		height: rem(10);
		color: var(--response-checked-icon);
	}

	label {
		color: $white !important;
	}
}

.option.true,
.option.false {
	width: 100%;
}

.option.true {
	background: $teal8;
	border: 1px solid $teal3;
	.checkbox {
		input {
			background-color: $teal0;
			border-radius: $radiusMd;
		}
		input:checked + svg {
			color: $teal6;
		}
		input:focus,
		input:checked {
			border: 1px solid $teal8;
		}
	}
}
.option.false {
	background: $pink8;
	border: 1px solid $pink3;
	.checkbox {
		input {
			background-color: $pink0;
			border-radius: $radiusMd;
		}
		input:checked + svg {
			color: $pink6;
		}
		input:focus,
		input:checked {
			border: 1px solid $pink8;
		}
	}
}
