.navbar {
	z-index: 100;
	position: relative;
	right: rem(100px);
	height: rem(500px);
	width: fit-content;
	border-radius: $radiusMd;
	padding: $spacingMd;
	display: flex;
	flex-direction: column;
	background: $gradient;
	box-shadow: $shadowMd;
}

.navbar-main {
	flex: 1;
}

.link {
	width: rem(50px);
	height: rem(50px);
	border-radius: $radiusMd;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $white;

	&:hover {
		background-color: $darken;
	}
	&[data-active] {
		&,
		&:hover {
			box-shadow: $shadowSm;
			background-color: $white;
			color: $violet6;
		}
	}
}
