button {
	&[data-variant='gradient'] {
		background: $gradient;
		color: $white;
		border: 0;

		&:hover {
			background: linear-gradient(50deg, $indigo8, $violet8);
		}
	}

	&[data-variant='subtle-violet'] {
		background-color: transparent;
		color: $violet5;
		border: 0;
		&:hover {
			background-color: $violet0;
			color: $violet6;
		}
	}
}
