.item {
	margin-top: $spacingSm;
	background-color: $white;
}

.item,
.draggable {
	border-radius: $radiusMd;
}

.itemDragging {
	box-shadow: $shadowSm;
}

.icon {
	color: $gray7;
	margin: $spacingSm;
}

.draggable {
	border: 1px solid $gray4;
	display: flex;
	align-items: center;
	overflow: hidden;
	background-color: white;
}
