.footer {
	margin-top: rem(120px);
	border-top: rem(1px) solid light-dark($gray2, $dark5);
}

.inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: $spacingXl;
	padding-bottom: $spacingXl;

	@media (max-width: $mantine-breakpoint-xs) {
		flex-direction: column;
	}
}

.links {
	@media (max-width: $mantine-breakpoint-xs) {
		margin-top: $spacingMd;
	}
}
