.footer {
	background-color: $white;
	margin-top: rem(120px);
	border-top: rem(1px) solid $gray4;

	p {
		color: $dark8;
	}
}

.inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: $spacingSm;
	padding-bottom: $spacingSm;

	@media (max-width: $mantine-breakpoint-xs) {
		flex-direction: column;
	}
}

.links {
	@media (max-width: $mantine-breakpoint-xs) {
		margin-top: $spacingMd;
	}
}
