.list {
	display: grid;
	grid-template-columns: 0.65fr 2fr 0.5fr 0.9fr 0.5fr 0.5fr;
	border: 1px solid $gray4;
	border-radius: $radiusLg;
	box-shadow: $shadowSm;
	background-color: $white;
}

.column {
	display: grid;
	grid-template-columns: 1fr;
	h5 {
		font-size: rem(14px);
		font-weight: 600;
	}
	&:first-child {
		.columnItem:first-child {
			border: none;
			border-top-left-radius: $radiusLg;
		}
		.columnItemWrapper {
			margin: 0 $spacingMd;
		}
	}
	&:last-child {
		.columnItem:first-child {
			h5 {
				margin-right: em(10px);
			}
			border-top-right-radius: $radiusLg;
		}
	}
}

.column.title {
	grid-column: 3fr;
}

.columnItem {
	height: em(60px);
	display: flex;
	justify-content: start;
	align-items: center;
	border-top: em(1px) solid $gray4;
	min-width: 0;

	&:first-child {
		background: linear-gradient(0deg, $gray1 20%, 60%, $gray0 100%);
		border-top: none;
	}
	.columnItemWrapper {
		display: flex;
		align-items: center;
		margin-right: $spacingXs;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

.status {
	min-width: fit-content;
	span {
		margin: 0;
		font-size: rem(10px);
		font-weight: 600;
	}
	&:before {
		background-color: $pink6;
		width: rem(7px);
		height: rem(7px);
	}
}

.status.active {
	&:before {
		background-color: $teal5;
	}
}

.btn {
	color: $indigo7;
	background-color: transparent;
	min-width: min-content;
	border-radius: $radiusSm;
	padding: rem(3px);
	height: fit-content;
	&:hover {
		color: $indigo7;
		background-color: $indigo0;
	}
	span {
		padding: 0;
	}
}

.id.btn {
	display: flex;
	align-items: center;
	font-weight: 500;
	overflow: hidden;
	svg {
		color: $indigo7;
		margin-right: 4px;
	}
	p {
		margin: 0;
		font-size: rem(12px);
		color: $indigo7;
	}
	&:hover {
		cursor: pointer;
	}
}
