.dragIcon {
	color: $indigo0;
	margin: $spacingSm;
	flex-shrink: 0;
}

.toolbar {
	border-radius: $radiusMd;
	border-bottom: 2px solid $indigo3;
	display: flex;
	background: $indigo8;
	width: 100%;
}

.item {
	border-radius: $radiusMd;
	background-color: $gray0;
	border: 2px solid $gray2;
}

.toolbarElements {
	min-width: 0;
	width: 100%;
	justify-content: space-between;
	align-content: center;
	display: flex;
}

.badge {
	color: $indigo9;
	flex-shrink: 0;
}

.toolbarContent {
	min-width: 0;
	align-items: center;
	gap: $spacingMd;
	display: flex;
	white-space: nowrap;
}

.toolbarDescription {
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	color: $gray2;
}

.toolbarButtons {
	min-width: 100px;
	margin-left: $spacingXs;
	display: flex;
	justify-content: end;
	white-space: nowrap;
}

.form {
	display: flex;
	flex-direction: column;
	border-radius: $radiusMd;
	gap: $spacingMd;
	padding: $spacingLg $spacingMd;
}
