button {
	&[data-variant='gradient'] {
		background: $gradient;
		color: $white;
		border: 0;

		&:hover {
			background: linear-gradient(50deg, $indigo7, $violet7);
		}

		&:disabled {
			background: linear-gradient(50deg, $indigo0, $violet0);
			color: $dark6;
		}
	}

	&[data-variant='subtle-violet'] {
		background-color: transparent;
		color: $violet5;
		border: 0;
		&:hover {
			background-color: $violet0;
			color: $violet6;
		}
	}

	&[data-variant='subtle'] {
		&:disabled {
			span {
				color: $gray3;
			}
			background-color: transparent;
		}
	}
}
