@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
	font-family: 'LogoFont';
	src:
		url('/assets/fonts/DancingScript-Bold.otf') format('otf'),
		url('/assets/fonts/DancingScript-Bold.woff') format('woff'),
		url('/assets/fonts/DancingScript-Bold.ttf') format('truetype'),
		url('/assets/fonts/DancingScript-Bold.svg#svgFontName') format('svg');
}

label {
	span {
		color: $violet9 !important;
	}
	margin-bottom: 3px;
	font-weight: 600 !important;
	color: $gray8 !important;
}

input,
textarea {
	font-size: 15 !important;
	font-weight: 500;

	&:focus {
		border-color: $indigo7;
	}
}

input,
textarea {
	color: $gray7 !important;
}

body {
	background: $gray0;
}

.quaestio {
	font-size: rem(30px);
	background: $intenseGradient;
	background-clip: text;
	color: transparent;
	margin: 0;
	font-weight: bolder;
	font-family: LogoFont;
}
