@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

label {
	span {
		color: $violet9 !important;
	}
	margin-bottom: 3px;
	font-weight: 600 !important;
	color: $gray8 !important;
}

input,
textarea {
	font-size: 15 !important;
	font-weight: 500;

	&:focus {
		border-color: $indigo7;
	}
}

input,
textarea {
	color: $gray7 !important;
}

body {
	background: linear-gradient(0deg, $violet0, $white);
}
