// --- Colors

$violet0: var(--mantine-color-violet-0);
$violet1: var(--mantine-color-violet-1);
$violet2: var(--mantine-color-violet-2);
$violet3: var(--mantine-color-violet-3);
$violet4: var(--mantine-color-violet-4);
$violet5: var(--mantine-color-violet-5);
$violet6: var(--mantine-color-violet-6);
$violet7: var(--mantine-color-violet-7);
$violet8: var(--mantine-color-violet-8);
$violet9: var(--mantine-color-violet-9);
$darken: #0000001a;

$indigo0: var(--mantine-color-indigo-0);
$indigo1: var(--mantine-color-indigo-1);
$indigo2: var(--mantine-color-indigo-2);
$indigo3: var(--mantine-color-indigo-3);
$indigo4: var(--mantine-color-indigo-4);
$indigo5: var(--mantine-color-indigo-5);
$indigo6: var(--mantine-color-indigo-6);
$indigo7: var(--mantine-color-indigo-7);
$indigo8: var(--mantine-color-indigo-8);
$indigo9: var(--mantine-color-indigo-9);

$teal0: var(--mantine-color-teal-0);
$teal1: var(--mantine-color-teal-1);
$teal2: var(--mantine-color-teal-2);
$teal3: var(--mantine-color-teal-3);
$teal4: var(--mantine-color-teal-4);
$teal5: var(--mantine-color-teal-5);
$teal6: var(--mantine-color-teal-6);
$teal7: var(--mantine-color-teal-7);
$teal8: var(--mantine-color-teal-8);
$teal9: var(--mantine-color-teal-9);

$cyan0: var(--mantine-color-cyan-0);
$cyan1: var(--mantine-color-cyan-1);
$cyan2: var(--mantine-color-cyan-2);
$cyan3: var(--mantine-color-cyan-3);
$cyan4: var(--mantine-color-cyan-4);
$cyan5: var(--mantine-color-cyan-5);
$cyan6: var(--mantine-color-cyan-6);
$cyan7: var(--mantine-color-cyan-7);
$cyan8: var(--mantine-color-cyan-8);
$cyan9: var(--mantine-color-cyan-9);

$red0: var(--mantine-color-red-0);
$red1: var(--mantine-color-red-1);
$red2: var(--mantine-color-red-2);
$red3: var(--mantine-color-red-3);
$red4: var(--mantine-color-red-4);
$red5: var(--mantine-color-red-5);
$red6: var(--mantine-color-red-6);
$red7: var(--mantine-color-red-7);
$red8: var(--mantine-color-red-8);
$red9: var(--mantine-color-red-9);

$pink0: var(--mantine-color-pink-0);
$pink1: var(--mantine-color-pink-1);
$pink2: var(--mantine-color-pink-2);
$pink3: var(--mantine-color-pink-3);
$pink4: var(--mantine-color-pink-4);
$pink5: var(--mantine-color-pink-5);
$pink6: var(--mantine-color-pink-6);
$pink7: var(--mantine-color-pink-7);
$pink8: var(--mantine-color-pink-8);
$pink9: var(--mantine-color-pink-9);

$blue0: var(--mantine-color-blue-0);
$blue1: var(--mantine-color-blue-1);
$blue2: var(--mantine-color-blue-2);
$blue3: var(--mantine-color-blue-3);
$blue4: var(--mantine-color-blue-4);
$blue5: var(--mantine-color-blue-5);
$blue6: var(--mantine-color-blue-6);
$blue7: var(--mantine-color-blue-7);
$blue8: var(--mantine-color-blue-8);
$blue9: var(--mantine-color-blue-9);

$orange0: var(--mantine-color-orange-0);
$orange1: var(--mantine-color-orange-1);
$orange2: var(--mantine-color-orange-2);
$orange3: var(--mantine-color-orange-3);
$orange4: var(--mantine-color-orange-4);
$orange5: var(--mantine-color-orange-5);
$orange6: var(--mantine-color-orange-6);
$orange7: var(--mantine-color-orange-7);
$orange8: var(--mantine-color-orange-8);
$orange9: var(--mantine-color-orange-9);

$grape0: var(--mantine-color-grape-0);
$grape1: var(--mantine-color-grape-1);
$grape2: var(--mantine-color-grape-2);
$grape3: var(--mantine-color-grape-3);
$grape4: var(--mantine-color-grape-4);
$grape5: var(--mantine-color-grape-5);
$grape6: var(--mantine-color-grape-6);
$grape7: var(--mantine-color-grape-7);
$grape8: var(--mantine-color-grape-8);
$grape9: var(--mantine-color-grape-9);

$gray0: var(--mantine-color-gray-0);
$gray1: var(--mantine-color-gray-1);
$gray2: var(--mantine-color-gray-2);
$gray3: var(--mantine-color-gray-3);
$gray4: var(--mantine-color-gray-4);
$gray5: var(--mantine-color-gray-5);
$gray6: var(--mantine-color-gray-6);
$gray7: var(--mantine-color-gray-7);
$gray8: var(--mantine-color-gray-8);
$gray9: var(--mantine-color-gray-9);

$dark: var(--mantine-color-dark);
$dark0: var(--mantine-color-dark-0);
$dark1: var(--mantine-color-dark-1);
$dark2: var(--mantine-color-dark-2);
$dark3: var(--mantine-color-dark-3);
$dark4: var(--mantine-color-dark-4);
$dark5: var(--mantine-color-dark-5);
$dark6: var(--mantine-color-dark-6);
$dark7: var(--mantine-color-dark-7);
$dark8: var(--mantine-color-dark-8);
$dark9: var(--mantine-color-dark-9);

$white: var(--mantine-color-white);

$black: var(--mantine-color-black);

$gradient: linear-gradient(25deg, $indigo8 0%, $violet8 100%);

// --- Shaping and Spacing
$radiusMd: var(--mantine-radius-md);
$radiusSm: var(--mantine-radius-sm);
$radiusLg: var(--mantine-radius-lg);
$spacingXs: var(--mantine-spacing-xs);
$spacingSm: var(--mantine-spacing-sm);
$spacingLg: var(--mantine-spacing-lg);
$spacingMd: var(--mantine-spacing-md);
$spacingXl: var(--mantine-spacing-xl);
$shadowMd: var(--mantine-shadow-md);
$shadowSm: var(--mantine-shadow-sm);
$shadowXs: var(--mantine-shadow-xs);
