// --- Colors

$violet0: var(--mantine-color-violet-0);
$violet1: var(--mantine-color-violet-1);
$violet2: var(--mantine-color-violet-2);
$violet3: var(--mantine-color-violet-3);
$violet4: var(--mantine-color-violet-4);
$violet5: var(--mantine-color-violet-5);
$violet6: var(--mantine-color-violet-6);
$violet7: var(--mantine-color-violet-7);
$violet8: var(--mantine-color-violet-8);
$violet9: var(--mantine-color-violet-9);
$violetDark: #38289f;

$indigo0: var(--mantine-color-indigo-0);
$indigo1: var(--mantine-color-indigo-1);
$indigo2: var(--mantine-color-indigo-2);
$indigo3: var(--mantine-color-indigo-3);
$indigo4: var(--mantine-color-indigo-4);
$indigo5: var(--mantine-color-indigo-5);
$indigo6: var(--mantine-color-indigo-6);
$indigo7: var(--mantine-color-indigo-7);
$indigo8: var(--mantine-color-indigo-8);
$indigo9: var(--mantine-color-indigo-9);

$gray0: var(--mantine-color-gray-0);
$gray1: var(--mantine-color-gray-1);
$gray2: var(--mantine-color-gray-2);
$gray3: var(--mantine-color-gray-3);
$gray4: var(--mantine-color-gray-4);
$gray5: var(--mantine-color-gray-5);
$gray6: var(--mantine-color-gray-6);
$gray7: var(--mantine-color-gray-7);
$gray8: var(--mantine-color-gray-8);
$gray9: var(--mantine-color-gray-9);

$dark: var(--mantine-color-dark);
$dark0: var(--mantine-color-dark-0);
$dark1: var(--mantine-color-dark-1);
$dark2: var(--mantine-color-dark-2);
$dark3: var(--mantine-color-dark-3);
$dark4: var(--mantine-color-dark-4);
$dark5: var(--mantine-color-dark-5);
$dark6: var(--mantine-color-dark-6);
$dark7: var(--mantine-color-dark-7);
$dark8: var(--mantine-color-dark-8);
$dark9: var(--mantine-color-dark-9);

$white: var(--mantine-color-white);

$black: var(--mantine-color-black);

$gradient: linear-gradient(25deg, $indigo9 0%, $violet7 100%);

// --- Shaping and Spacing
$radiusMd: var(--mantine-radius-md);
$radiusSm: var(--mantine-radius-sm);
$radiusLg: var(--mantine-radius-lg);
$spacingXs: var(--mantine-spacing-xs);
$spacingSm: var(--mantine-spacing-sm);
$spacingMd: var(--mantine-spacing-md);
$spacingXl: var(--mantine-spacing-xl);
$shadowSm: var(--mantine-shadow-sm);
$shadowXs: var(--mantine-shadow-xs);
